<h3>Créditos</h3>
<p>Autor Alumno: Jacqueline Manriquez</p>
<p>Autor Original: <a href="http://www.dit.upm.es/~quemada/index1.html">Juan Quemada</a></p>
<object id="foto" data="images/jakemanray.jpg" width="300"></object>
<iframe class="video" width="200" height="200" src="http://www.youtube.com/embed/oRkNtppVchY"></iframe>
